
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      font-family: Arial, sans-serif;
      text-align: right;
      background-color: #f5f5f5;
      padding: 20px;
    }

    /* Container */
    .container {
      border: 2px solid red;
      padding: 10px;
      background-color: white;
      position: relative;
      overflow: hidden;
    }

    /* עמודה שמאלית - גובה אוטומטי */
    .left-big {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 20%;
      border: 2px solid red;
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px;
    }

    /* אזור תוכן ימני */
    .right-wrapper {
      margin-left: 20%;
      padding-left: 10px;
    }

    /* שורה 1 - ארבע קופסאות */
    .row1 {
      width: 100%;
      margin-bottom: 20px;
      overflow: auto;
    }

    .box-top {
      width: 22.5%;
      float: right;
      margin-left: 3.33%;
      border: 2px solid red;
      padding: 40px 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 15px;
    }

    .box-top:last-child {
      margin-left: 0;
    }

    /* שורה 2 */
    .row2 {
      width: 100%;
      margin-bottom: 20px;
      overflow: auto;
    }

    .row2-left {
      width: 56%;
      float: right;
      margin-left: 4%;
    }

    .row2-left-box {
      width: 100%;
      border: 2px solid red;
      padding: 52.5px 10px;
      margin-bottom: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      height: calc((100% - 15px) / 2);
    }

    .row2-left-box:last-child {
      margin-bottom: 0;
    }

    .row2-right {
      width: 38%;
      float: right;
      margin-left: 2%;
    }

    .row2-right-box {
      width: 100%;
      border: 2px solid red;
      padding: 130px 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      height: 100%;
    }

    /* שורה 3 */
    .row3 {
      width: 100%;
      overflow: auto;
      margin-bottom: 15px;
    }

    .row3-left {
      width: 66%;
      float: right;
      margin-left: 4%;
    }

    .row3-left-box {
      width: 100%;
      border: 2px solid red;
      padding: 40px 10px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .row3-right {
      width: 28%;
      float: right;
      margin-left: 2%;
    }

    .row3-right-box {
      width: 100%;
      border: 2px solid red;
      padding: 40px 10px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    /* Media Query - רספונסיבי */
    @media (max-width: 750px) {
      .left-big {
        position: static;
        width: 100%;
        margin-bottom: 10px;
        min-height: 100px;
      }

      .right-wrapper {
        margin-left: 0;
        padding-left: 0;
      }

      .box-top,
      .row2-left,
      .row2-right,
      .row3-left,
      .row3-right {
        width: 100%;
        float: none;
        margin-left: 0;
        margin-bottom: 10px;
      }

      .row2-left-box {
        margin-bottom: 10px;
      }
    }
